# special: exclude NON- foo.bar (no dot inside)
65lisp/Play/**
!65lisp/Play/*.*

65lisp/*
!65lisp/Play
!65lisp/*.*
!65lisp/Docs



*.i

*~
\#*\#
.*
*.x

diff

foo
bar
fish

fil.*
fil
fil2
fil2.*

*.lst
a.out
*.o
*.s
*.log
*.map
*.sim
*.bin
*.out
*.tap
*.x



