# special: exclude NON- foo.bar (no dot inside)
65lisp/Play/**
!65lisp/Play/*.*

65lisp/Input/**
!65lisp/Input/*.*

65lisp/Tests/**
!65lisp/Tests/*.*

65lisp/Tests/*/Tests/**
!65lisp/Tests/*/Tests/*.*

65lisp/*
!65lisp/Play
!65lisp/*.*
!65lisp/Docs
!65lisp/Input
!65lisp/Tests



*.i

*~
\#*\#
.*
*.x

diff

foo
bar
fish

fil.*
fil
fil2
fil2.*

*.tmp

*.lst
a.out
*.o
*.s
*.log
*.map
*.sim
*.bin
*.out
*.tap
*.prg
*.int
*.csz
*.dbj
*.lbl

*.dsk

*.jz
*.zip

*.sizes
*.syms
*.x



